body {
    background: #f0f4f7;
    font-family: 'Roboto', sans-serif;
}
section.resume-details-section .left-column iframe {
    width: 100%;
    height: 95vh;
}
section.resume-details-section .left-column>div, section.resume-details-section .right-column>div {
    box-shadow: 0px 0px 6px #ccc;
}
h5 {
    font-size: 20px;
    color: #212529;
}
h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #212529;
}
.bg-blue{
    background: #2183E5;
}
.progress-block .progress {
    /* height: 4px; */
    background: transparent;
    overflow: visible;
    padding: 0 32px;
}
.progress-block .progress-bar {
    overflow: visible;
    width: 25%;
    position: relative;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}
.progress-block .progress-bar .dot {
    width: 16px;
    height: 14px;
    background: #E7E7E7;
    border-radius: 20px;
    z-index: 9;
    transition: all 1s ease-in-out;
}
.progress-block .progress-bar .line {
    height: 1px;
    background: #E7E7E7;
    transition: all 1s ease-in-out;
}
.progress-block.step-1-done .progress-bar.step-1 .dot, .progress-block.step-1-done .progress-bar.step-1 .line {
    background: #00BB28;
}
.progress-block.step-2-done .progress-bar.step-2 .dot, .progress-block.step-2-done .progress-bar.step-2 .line {
    background: #00BB28;
}
.progress-block.step-3-done .progress-bar.step-3 .dot, .progress-block.step-3-done .progress-bar.step-3 .line {
    background: #00BB28;
}
.progress-block.step-4-done .progress-bar.step-4 .dot, .progress-block.step-4-done .progress-bar.step-4 .line {
    background: #00BB28;
}
.progress-block .progress-bar span.last {
    right: 0;
    transform: translateX(34%);
    left: unset;
}
.progress-block .progress-bar span {
    color: #6C757D;
    position: absolute;
    transform: translateX(-34%);
    z-index: 9;
    left: 0;
    top: 24px;
    display: block;
    font-size: 12px;
    line-height: 14px;
}
.cta-block a {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #2183E5;
}
.cta-block button {
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}
.cta-block button.cancel-edit {
    background: #E9ECEF;
    color: #B4C1CD;
    border: none;
}
.cta-block button.update-edited {
    background: #2183E5;
}
.accordion-block .card-header {
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 4px;
}
.accordion-block .card-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #6C757D;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordion-block .active-card .card-header {
    border: 1px solid #CED4DA;
}
.accordion-block .active-card a.card-link, .accordion-block a.card-link:hover {
    background: #EDF3FF;
    color: #2183E5;
}
.accordion-block .active-card a.card-link i.fa-angle-down {
    transform: rotate(180deg);
}
form .form-group label {
    font-size: 12px;
    line-height: 120%;
}
form.in-display-mode .form-group label {
    color: rgba(33, 131, 230, 0.6);
}
form.in-edit-mode .form-group label {
    color: #999999;
}
form .form-group input {
    font-size: 16px;
    line-height: 120%;
    color: #6C757D;
}
form.in-display-mode .form-group input, form.in-display-mode .form-group label{
    border: 1px solid transparent;
    padding-left: 0px;
    padding-top: 0px;
    pointer-events: none;
}
form .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #B4C1CD;
    font-size: 15px;
}
form .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: #B4C1CD;
    font-size: 15px;
}
form .form-group input:-ms-input-placeholder {
    /* IE 10+ */
    color: #B4C1CD;
    font-size: 15px;
}
form .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: #B4C1CD;
    font-size: 15px;
}
.form-control:focus {
    border: 1px solid #2183E5;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}
.chip {
    display: inline-block;
    padding: 0 16px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    color: #6C757D;
    border-radius: 32px;
    background: #f1f1f1;
    border: 1px solid #CED4DA;
}
.chip:focus, .chip:hover, .chip:active, .chip:target {
    color: #6C757D;
    background: #F0F4F7;
}
.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.closebtn:hover {
    color: #000;
}
form .radio-group label{
    font-size: 16px;
    line-height: 120%;
    color: #6C757D !important;
}
.only-if-working{
    border-bottom: 1px solid #CED4DA;
}
.only-if-working.notworking{
    display: none !important;
}
.btn-outline-default{
    color: #B4C1CD;
    border: 1px solid #CED4DA;
}
.last-updated-block{
    font-size: 12px;
    line-height: 120%;
    text-align: right;
    color: #6C757D;
    display: flex;
    align-items: center;
}
.last-updated-block a{
    color: #2183E5;
}
